<div class="card my-5">
    <form [formGroup]="fourForm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label class="form-label" for="nom">Nom</label>
                <input type="text" class="form-control" id="nom" formControlName="nom"  />
              </div>
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label class="form-label" for="prenom">Prenom</label>
                <input type="text" class="form-control" id="prenom" formControlName="prenom"/>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label class="form-label" for="adresse">Adresse</label>
                <input type="text" class="form-control" id="adresse" formControlName="adresse" />
              </div>
            </div>
          </div> 

        <div class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn-primary btn-block" (click)="save()" >Modifier Fourniseur</button>
            </div>
            <div class="col-md-6">
              <button type="reset" class="btn btn-primary btn-block"  (click)="onReset()" >Reset</button>
            </div>
          </div>
    </div>
    
    </form>
      </div>