<div class="row mb-1 mr-0 custom-border" >
 
    <h3>Stock actuel : {{ stockReel }}</h3>



 
<div *ngIf="mvtStocks.length > 0" class="col-md-12 mb-1">

  <div class="col-md-5 custom-border-right mb-1 mt-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1">
          <i class="fas fa-info-circle blue-color"></i>
        </div>
        <div class="col-md-11">Code article: {{ mvtStocks[0].article.code }}</div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <i class="fas fa-info-circle blue-color"></i>
        </div>
        <div class="col-md-11">Designation: {{ mvtStocks[0].article.designation }}</div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <i class="fas fa-dollar-sign blue-color"></i>
        </div>
        <div class="col-md-11">Prix : {{ mvtStocks[0].article.prix }}</div>
      </div>
    </div>
   

  </div>


</div>

<div class="table-responsive">
  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th>Date</th>
        <th>Quantité</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mvt of mvtStocks">
        <td>{{ mvt.dateMvt | date: 'dd.MM.yyyy' }}</td>
        <td>{{ mvt.quantite }}</td>
        <td>{{ mvt.typeMvt }}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

<!-- Display a message if no data is available -->
<div *ngIf="mvtStocks.length === 0">
  <p>No stock movements available.</p>
</div>


