 
<div class="d-flex wrap justify-content-between align-items-center">
  <h4>Liste des Catégories</h4>
<div style="text-align: right">
  <button class="btn btn-success" (click)="openModal('add')">Ajouter Categorie</button>
</div>
</div>
 

<div class="input-group input-group-alternative mt-3">
  <input class="form-control" placeholder="Recherche" type="text" [(ngModel)]="code" (input)="Search()">
</div>

<div class="px-3 py-4 h-100 bg-white mt-3 " style="border-radius:8px ;border: 1px solid lightgray;">
<table class="table table-striped table-hover">
  <thead class="bg-primary">
    <tr>
      <th scope="col" class="text-white">Code</th>
      <th scope="col" class="text-white">Designation</th>
      <th class="col" class="text-white "><div class=" text-white d-flex justify-content-end"></div> </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cat of listCategory">
      <td>{{ cat.code }}</td>
      <td>{{ cat.designation }}</td>
      <td>
       <div class="d-flex justify-content-end align-items-end">
        <a (click)="openModal('edit', cat.id)"  class="mr-2 btn btn-sm">
          <i class="fas fa-edit text-primary"></i> 
        </a> 
        <a (click)="deleteClick(cat.id)" class='btn btn-sm'>
          <i class="fas fa-trash-alt text-danger"></i> 
        </a>
      </div>
      </td>
    </tr>
  </tbody>
</table>

</div>


<!--  Ajouter/Modifier Category -->
<div *ngIf="showModal" class="modal" tabindex="-1" role="dialog" style="display: block; background: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title">{{ modalTitle }}</h5>
        <button type="button" class="close btn" (click)="closeModal()" aria-label="Close">
          <div aria-hidden="true" class="text-white" style="scale: 2;">&times;</div>
        </button>
      </div>
      <div class="modal-body">
        
        <form [formGroup]="categoryForm">
          <div class="form-group">
            <label for="code">Code</label>
            <input type="text" class="form-control" id="code" formControlName="code" placeholder="Code"
              [ngClass]="{ 'is-invalid': submitted && f.code.errors }">
            <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
              <div *ngIf="f.code.errors.required">Code est obligatoire</div>
            </div>
          </div>
          <div class="form-group">
            <label for="designation">Designation</label>
            <textarea class="form-control" id="designation" rows="3" formControlName="designation"
              [ngClass]="{ 'is-invalid': submitted && f.designation.errors }"></textarea>
            <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
              <div *ngIf="f.designation.errors.required">Designation est obligatoire</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" (click)="save()" class="btn btn-primary">Enregistrer</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Annuler</button>
      </div>
    </div>
  </div>
</div>
 