

<div class="card my-5">
    <form [formGroup]="articleForm" >
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mb-3">
              <label class="form-label" for="code">Code</label>
              <input type="text" class="form-control" id="code" formControlName="code" placeholder="code"
               />
              
            </div>
          </div>
  
        <div class="form-group mb-3">
          <label class="form-label" for="prix">Prix</label>
          <input type="number" step="0.01" class="form-control" id="prix" formControlName="prix" placeholder="Entrez le prix"/>
        
        </div>
  
        <div class="form-group mb-3">
          <label class="form-label" for="tauxTva">Taux Tva</label>
          <input type="number" step="0.01" class="form-control" id="tauxTva"  formControlName="tauxTva" placeholder="Entrez le Taux Tva"/>
         
        </div>
  
        <div class="form-group mb-3">
          <label class="form-label" for="designation">Designation</label>
        <textarea class="form-control" id="designation" rows="3"formControlName="designation"></textarea>
       
        </div>
    
        </div>
        <!-- Other form elements -->
  
       <!--  <div class="col">
          <label>Selectionner une categorie</label>
          <select class="form-control"  formControlName="categoryId">
            <option *ngFor="let cat of listeCategorie" [value]="cat.id">{{ cat.code }}</option>
          </select>
        </div>
        <br>
        <div class="col">
          <label>Selectionner une Magasin</label>
          <select class="form-control"  formControlName="magasinId">
            <option *ngFor="let mg of listeMagasin" [value]="mg.id">{{ mg.nom }}</option>
          </select>
        </div>-->
        <br>
        <div class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn-primary btn-block" (click)="save()">Modifier</button>
            </div>
            <div class="col-md-6">
              <button type="reset" class="btn btn-primary btn-block"  (click)="onReset()" >Reset</button>
            </div>
          </div>
      </div>
    </form>
  
  
  
  </div>
  
     