<div class="row">
  <!-- [ sample-page ] start -->
  @for (task of card; track task) {
    <div class="col-md-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <h6 class="mb-2 f-w-400 text-muted">{{ task.title }}</h6>
          <h4 class="mb-3">
            {{ task.amount }}
            <span class="badge {{ task.background }} border {{ task.border }} "><i class="{{ task.icon }}"></i> </span>
          </h4>
          <p class="mb-0 text-muted text-sm">
            You made an extra
            <span class="{{ task.color }}"></span> this year
          </p>
        </div>
      </div>
    </div>
  }

  
 
  
  <div class="justify-content-center" >
    <h5 class="mb-3">Bon Entrée et Bon Sortie Report</h5>
    <div class="card">
      <div class="card-body">
        <h6 class="mb-2 f-w-400 text-muted">Monthly Statistics</h6>
        <h3 class="mb-0">Bon Entrée & Bon Sortie</h3>
        <apx-chart
        *ngIf="chartOptions_6?.series"
        [series]="chartOptions_6.series"
        [chart]="chartOptions_6.chart"
        [dataLabels]="chartOptions_6.dataLabels"
        [legend]="chartOptions_6.legend"
        [xaxis]="chartOptions_6.xaxis"
        [colors]="chartOptions_6.colors"
        [stroke]="chartOptions_6.stroke"
        [plotOptions]="chartOptions_6.plotOptions"
        ></apx-chart>
      </div>
    </div>
  </div>
 
</div>
