
<div>
  <a routerLink="/register" class="btn btn-success">Ajouter user</a>
</div>
<br>
<div class="input-group input-group-alternative">
 <!-- <i class="ti ti-search"></i> -->  
    <input class="form-control" placeholder="Recherche" type="text" [(ngModel)]="firstname" (input)="Search()" >
  </div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Lastname </th>
        <th scope="col">Firstname</th>
        <th scope="col">Activated</th>
        <th scope="col">Role</th>
        <th scope="col">Magasin</th>
       
       <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of listUser">
      <tr>
       <!-- <th scope="row">1</th>-->
        <td>{{user.email}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.firstname}}</td>
        
     
<td>
  <button 
  (click)="toggleActivation(user)" 
  [ngStyle]="{
    'background-color': user.activated == '0' ? '#ff6666 ' : '#40bf80',
    'color': 'white'
  }">
  {{ user.activated == '1' ? 'Activer' : 'Désactiver' }}
</button>
</td>

        <td>{{user.role.nomRole}}</td>
        <td>{{user.magasin.nom}}</td>
       
        <td> 
        <ul >
          
          <button   [disabled]= "user.activated == '0'" routerLink="/edituser/{{user.id}}" class="btn btn-info " > edit </button>  &nbsp;
          <button  (click)="deleteClick(user.id)" class="btn btn-danger" >supprimer</button >
        </ul>

        
        </td>
      </tr>
     
    </tbody>
  </table>
