 
<div class="d-flex wrap justify-content-between align-items-center">
  <h4>Liste des Utilisateurs</h4>
<div style="text-align: right">
  <button class="btn btn-success" (click)="openModal('add')">Ajouter user</button>
</div>
</div>
 
<div class="input-group input-group-alternative mt-3">
  <input class="form-control" placeholder="Recherche" type="text" [(ngModel)]="firstname" (input)="Search()">
</div>


<div class="px-3 py-4 h-100 bg-white mt-3 " style="border-radius:8px ;border: 1px solid lightgray;">
  <table class="table table-striped table-hover">
    <thead class="bg-primary">
    <tr>
      <th scope="col" class="text-white">Email</th>
      <th scope="col" class="text-white">Lastname</th>
      <th scope="col" class="text-white">Firstname</th>
      <th scope="col" class="text-white">Activated</th>
      <th scope="col" class="text-white">Role</th>
      <th scope="col" class="text-white">Magasin</th>
      <th scope="col" class="text-white"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of listUser  | paginate: { itemsPerPage: 5, currentPage: page }">
      <td>{{user.email}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.firstname}}</td>
      <td>
        <button (click)="toggleActivation(user)" class="btn btn-sm"style="width:100px"
                [ngStyle]="{'background-color': user.activated == '0' ? '#ff6666 ' : '#40bf80', 'color': 'white'}">
          {{ user.activated == '1' ? 'Activer' : 'Désactiver' }}
        </button>
      </td>
      <td>{{user.role.nomRole}}</td>
      <td>{{user.magasin.nom}}</td>
      <td>
        <div class="d-flex justify-content-end">
        <button [disabled]="user.activated == '0'" class="mr-2 btn btn-sm"   (click)="openModal('edit', user.id)" style="color: blue;">
          <i class="fas fa-edit"></i>
        </button> 
        <a (click)="deleteClick(user.id)" style="color: red;" class="btn-sm btn">
          <i class="fas fa-trash-alt"></i>
        </a>
      </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-end">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
</div>

<!-- Modal for adding/editing user -->
<div *ngIf="showModal" class="modal" tabindex="-1" role="dialog" style="display: block; background: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title">{{ isEditMode ? 'Modifier User' : 'Ajouter User' }}</h5>
        <button type="button" class="close btn" (click)="closeModal()" aria-label="Close">
          <div aria-hidden="true" class="text-white" style="scale: 2;">&times;</div>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="userForm" >
          <div class="form-group">
            <label for="firstname">First Name*</label>
            <input type="text" class="form-control" id="firstname" placeholder="First Name" formControlName="firstname" />
          </div>
          <div class="form-group">
            <label for="lastname">Last Name*</label>
            <input type="text" class="form-control" id="lastname" placeholder="Last Name" formControlName="lastname" />
          </div>
          <div class="form-group">
            <label for="email">Email Address*</label>
            <input type="email" class="form-control" id="email" placeholder="Email Address" formControlName="email" />
          </div>
          <div *ngIf="!isEditMode">
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password" />
            </div>
            <div class="form-group">
              <label for="roleId">Role</label>
              <select class="form-control" formControlName="roleId">
                <option [value]="1">ChefMagasin</option>
                <option [value]="2">Magasinier</option>
               <!--  <option [value]="3">Client</option> -->
              </select>
            </div>
            <div class="form-group">
              <label for="magasinId">Magasin</label>
              <select class="form-control" formControlName="magasinId">
                <option *ngFor="let mg of listeMagasins" [value]="mg.id">{{ mg.nom }}</option>
              </select>
            </div>
          </div>
        
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" (click)="onSubmit()" class="btn btn-primary">{{ isEditMode ? 'Modifier' : 'Ajouter' }}</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Annuler</button>
      </div>
    </div>
  </div>
</div>

 
