 
 
<div class="d-flex wrap justify-content-between align-items-center"> 
  <h4>Liste des Magasins</h4>
<div style="text-align: right">
  <button class="btn btn-success" (click)="openModal('add')">Ajouter Magasin</button>
</div>
</div>
 
<div class="input-group input-group-alternative mt-3">
  <input class="form-control" placeholder="Recherche" type="text" [(ngModel)]="nom" (input)="Search()">
</div>


<div class="px-3 py-4 h-100 bg-white mt-3 " style="border-radius:8px ;border: 1px solid lightgray;">
  <table class="table table-striped table-hover">
    <thead class="bg-primary">
    <tr>
      <th scope="col" class="text-white">Email</th>
      <th scope="col" class="text-white">Nom</th>
      <th class="col" class="text-white">Description</th>
      <th class="col" class="text-white">Numéro téléphone</th>
      <th class="col" class="text-white">siteWeb</th>
      <th class="col" class="text-white"></th>
    </tr>
  </thead>
  <tbody *ngFor="let mg of listMagasin">
    <tr>
      <td>{{mg.email}}</td>
      <td>{{mg.nom}}</td>
      <td>{{mg.description}}</td>
      <td>{{mg.numTel}}</td>
      <td>{{mg.siteWeb}}</td>
      
      
      <td>
        <div class="d-flex justify-content-end"  >
        <a (click)="openModal('edit', mg.id)" class="mr-2 btn btn-sm" >
          <i class="fas fa-edit text-primary"></i> 
        </a>             
        <a (click)="deleteClick(mg.id)"   class="btn btn-sm">
          <i class="fas fa-trash-alt text-danger"></i> 
        </a>
</div>
     
      </td>
    </tr>
  </tbody>
</table>
</div> 

<!-- Modal Ajout/edit magasin -->

<div *ngIf="showModal" class="modal" tabindex="-1" role="dialog" style="display: block; background: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title">{{ modalTitle }}</h5>
        <button type="button" class="close btn" (click)="closeModal()" aria-label="Close">
          <div aria-hidden="true" class="text-white" style="scale: 2;">&times;</div>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="magasinForm"   >
          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nom" formControlName="nom" placeholder="Nom"
              [ngClass]="{ 'is-invalid': submitted && f.nom.errors }">
            <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
              <div *ngIf="f.nom.errors.required">Nom est obligatoire</div>
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="3" formControlName="description"
              [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
              <div *ngIf="f.description.errors.required">Description est obligatoire</div>
            </div>
          </div>
          <div class="form-group">
            <label for="numTel">Numéro Téléphone</label>
            <input type="text" class="form-control" id="numTel" formControlName="numTel" placeholder="Numéro Téléphone"
              [ngClass]="{ 'is-invalid': submitted && f.numTel.errors }">
            <div *ngIf="submitted && f.numTel.errors" class="invalid-feedback">
              <div *ngIf="f.numTel.errors.required">Numéro Téléphone est obligatoire</div>
            </div>
          </div>
          

          <div class="form-group">
            <label for="siteWeb">Site Web</label>
            <input type="text" class="form-control" id="siteWeb" formControlName="siteWeb" placeholder="site Web"
              [ngClass]="{ 'is-invalid': submitted && f.siteWeb.errors }">
            <div *ngIf="submitted && f.siteWeb.errors" class="invalid-feedback">
              <div *ngIf="f.siteWeb.errors.required">site Web est obligatoire</div>
            </div>
          </div>


          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" formControlName="email" placeholder="Email"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email est obligatoire</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" (click)="save()" class="btn btn-primary">Enregistrer</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Annuler</button>
      </div>
    </div>
  </div>
</div>


 