<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Navbar with dropdown</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="mynavbar">
    <br>
    <div class="mynavbar-left">
      <a href="javascript:"><img src="assets/images/logo.jpeg" alt="logo" style="width: 150px; height: auto;"/></a>
    </div>
    <div class="mynavbar-right">
      <ul>
        <li><a>Home</a></li>
        <li><a href="#">Se Connecter</a></li>
      </ul>
    </div>
  </div>
  <br><br><br>
  <div>
    <div class="row">
      <div class="col-md-6 col-xl-4" *ngFor="let art of listArticle">
        <div class="card mb-3">
          <img class="card-img-top img-responsive" [src]="'http://localhost:8099/StockMnager/api/article/Imgarticles/' + art.id" style="height:200px;width:full-content" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{art.code}}</h5>
            <p class="card-text">{{art.designation}}</p>
            <p class="card-text">Prix: {{art.prix}}.000 DT</p>
            <p class="card-text"><small class="text-muted">Taux de TVA: {{art.tauxTva}}</small></p>
         <!--   <button class="btn btn-success" data-toggle="modal" data-target="#commandeModal" (click)="openModal(art.id)">Commander</button>
          -->
          <button class="btn btn-success" data-toggle="modal" data-target="#commandeModal" (click)="openModal()">Commander</button>

        </div>
        </div>
      </div>
    </div>
  </div>


 
  
  <div *ngIf="showModal" class="modal" tabindex="-1" role="dialog" style="display: block; background: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ modalTitle }}</h5>
          <button type="button" class="close" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="bonSortieForm" (ngSubmit)="onSubmit()">
            <!-- Client Information -->
            <div>
              <label for="clientId">Client ID</label>
              <input id="clientId" formControlName="clientId">
            </div>
            <div>
              <label for="clientNom">Nom</label>
              <input id="clientNom" formControlName="clientNom">
            </div>
            <div>
              <label for="clientPrenom">Prénom</label>
              <input id="clientPrenom" formControlName="clientPrenom">
            </div>
            <div>
              <label for="clientAdresse">Adresse</label>
              <input id="clientAdresse" formControlName="clientAdresse">
            </div>
            <div>
              <label for="clientNumTel">Numéro de téléphone</label>
              <input id="clientNumTel" formControlName="clientNumTel">
            </div>
            <div>
              <label for="clientMail">Email</label>
              <input id="clientMail" formControlName="clientMail">
            </div>
            <div>
              <label for="clientIdMagasin">ID Magasin</label>
              <input id="clientIdMagasin" formControlName="clientIdMagasin">
            </div>
          
            <!-- Article Information -->
            <div>
              <label for="articleId">Article ID</label>
              <input id="articleId" formControlName="articleId">
            </div>
            <div>
              <label for="quantity">Quantity</label>
              <input id="quantity" formControlName="quantity" type="number">
            </div>
            <div>
              <label for="dateCommande">Date Commande</label>
              <input id="dateCommande" formControlName="dateCommande" type="date">
            </div>
            <div>
              <label for="idMagasin">ID Magasin</label>
              <input id="idMagasin" formControlName="idMagasin">
            </div>
          
            <button type="submit" [disabled]="bonSortieForm.invalid">Submit</button>
          </form>
          
        </div>
      </div>
    </div>
  </div>

</body>
</html>
