 
  <div class="mynavbar">
    <br>
    <div class="mynavbar-left">
      <a href="javascript:"><img src="assets/images/logo.jpeg" alt="logo" style="width: 150px; height: auto;"/></a>
    </div>
    <div class="mynavbar-right">
      <ul>
        <li><a>Home</a></li>
        <li><a href="login">Se Connecter</a></li>
      </ul>
    </div>
  </div>
  <br><br><br>
  <div class="container">
    <div class="row m-0">
      <div class="col-md-6 col-xl-4" *ngFor="let art of listArticle">
        <div class="card mb-3">
          <img class="card-img-top img-responsive" [src]="path+art.id" style="height:200px;width:full-content" alt="Card image cap">
          <div class="card-body">
            <div *ngIf="art?.stockDisponible === 0" class="stock-epuise">Stock épuisé</div>
            <h5 class="card-title">{{art.code}}</h5>
            <p class="card-text">{{art.designation}}</p>
            <p class="card-text">Prix: {{art.prix}}.000 DT</p>
            <p class="card-text"><small class="text-muted">Taux de TVA: {{art.tauxTva}}</small></p>
          <button class="btn btn-success" data-toggle="modal" data-target="#commandeModal" (click)="openModal(art.id,art.prix)">Commander</button>

        </div>
        </div>
      </div>
    </div>
  </div>


 
  
  <div *ngIf="showModal" class="modal" tabindex="-1" role="dialog" style="display: block; background: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h5 class="modal-title">{{ modalTitle }}</h5>
          <button type="button" class="close btn " (click)="closeModal()" aria-label="Close">
            <div aria-hidden="true" class="text-white" style="scale: 2;">&times;</div>
          </button>
        </div>
        <div class="modal-body">
         
          <form [formGroup]="bonSortieForm">
            <!-- Client Information -->

            <div class="form-group">
              <label for="clientNom">Nom</label>
              <input  step="0.01" class="form-control" id="clientNom" formControlName="clientNom" placeholder="Nom Client"
               [ngClass]="{ 'is-invalid': submitted && f.clientNom.errors }">
              <div *ngIf="submitted && f.clientNom.errors" class="invalid-feedback">
                <div *ngIf="f.clientNom.errors.required">Nom Client est obligatoire</div>
              </div>
            </div>

            <div class="form-group">
              <label for="clientPrenom">Prenom</label>
              <input  step="0.01" class="form-control" id="clientPrenom" formControlName="clientPrenom" placeholder="votre prenom"
               [ngClass]="{ 'is-invalid': submitted && f.clientPrenom.errors }">
              <div *ngIf="submitted && f.clientPrenom.errors" class="invalid-feedback">
                <div *ngIf="f.clientPrenom.errors.required">Prenom est obligatoire</div>
              </div>
            </div>
            <div class="form-group">
              <label for="clientAdresse">Adresse</label>
              <input  step="0.01" class="form-control" id="clientAdresse" formControlName="clientAdresse" placeholder=" votre Adresse"
               [ngClass]="{ 'is-invalid': submitted && f.clientAdresse.errors }">
              <div *ngIf="submitted && f.clientAdresse.errors" class="invalid-feedback">
                <div *ngIf="f.clientAdresse.errors.required">Adresse est obligatoire</div>
              </div>
            </div>

            <div class="form-group">
              <label for="clientNumTel">Numéro de téléphone</label>
              <input  step="0.01" class="form-control" id="clientNumTel" formControlName="clientNumTel" placeholder=" votre numero telephone"
               [ngClass]="{ 'is-invalid': submitted && f.clientNumTel.errors }">
              <div *ngIf="submitted && f.clientNumTel.errors" class="invalid-feedback">
                <div *ngIf="f.clientNumTel.errors.required">Numero telephone est obligatoire</div>
              </div>
            </div>
          
          
            <!-- Article Information -->
            <div class="form-group">
              <label for="quantity">Quantity</label>
              <input type="number" step="0.01" class="form-control" id="quantity" formControlName="quantity" 
               [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }">
              <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                <div *ngIf="f.quantity.errors.required">Quantity est obligatoire</div>
              </div>
            </div>
           
            <!--[disabled]="bonSortieForm.invalid"-->
          </form>  
        </div>
        <div class="d-flex justify-content-end p-3">
        <button class="btn btn-success" (click)="onSubmit()">Submit</button>
       </div>
      </div>
    </div>
  </div> 
 
