 
  <!-- Button for adding supplier -->
 
  <div class="d-flex wrap justify-content-between align-items-center">
    <h4>Lite des Clients</h4>
  <div style="text-align: right">
    <button class="btn btn-success" (click)="openModal('add')">Ajouter Client</button>
  </div>
  </div>

  <!-- Supplier search input -->
  <div class="input-group input-group-alternative mt-3">
    <input class="form-control" placeholder="Recherche" type="text" [(ngModel)]="nom" (input)="Search()">
  </div>
 

  <div class="px-3 py-4 h-100 bg-white mt-3 " style="border-radius:8px ;border: 1px solid lightgray;">
    <table class="table table-striped table-hover">
      <thead class="bg-primary">
      <tr>
        <th scope="col" class="text-white">Nom</th>
        <th scope="col" class="text-white">Prenom</th>
        <th scope="col" class="text-white">Adresse</th>
        <th scope="col" class="text-white">Numéro teléphone</th>
        <th class="text-white"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cli of listclient">
        <td>{{cli.nom}}</td>
        <td>{{cli.prenom}}</td>
        <td>{{cli.adresse}}</td>
        <td>{{cli.numTel}}</td>
        <td>
          <div class="d-flex justify-content-end">
          <a (click)="openModal('edit', cli.id)"   class="mr-2 btn btn-sm">
            <i class="fas fa-edit text-primary"></i> 
          </a> 
          <a (click)="deleteClick(cli.id)"   class="btn btn-sm">
            <i class="fas fa-trash-alt text-danger"></i>
          </a>
        </div>
        </td>
      </tr>
    </tbody>
  </table>
  
  </div>

  <!-- Modal for adding/editing store -->
  <div *ngIf="showModal" class="modal" tabindex="-1" role="dialog" style="display: block; background: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h5 class="modal-title">{{ modalTitle }}</h5>
          <button type="button" class="close btn" (click)="closeModal()" aria-label="Close">
            <div aria-hidden="true" class="text-white" style="scale: 2;">&times;</div>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="clientForm" >
            <div class="form-group">
              <label for="nom">Nom</label>
              <input type="text" class="form-control" id="nom" formControlName="nom" placeholder="Nom" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }">
              <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                <div *ngIf="f.nom.errors.required">Nom est obligatoire</div>
              </div>
            </div>
            <div class="form-group">
              <label for="prenom">Prenom</label>
              <input type="text" class="form-control" id="prenom" formControlName="prenom" placeholder="Prenom" [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }">
              <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
                <div *ngIf="f.prenom.errors.required">Prenom est obligatoire</div>
              </div>
            </div>
            <div class="form-group">
              <label for="adresse">Adresse</label>
              <input type="text" class="form-control" id="adresse" formControlName="adresse" placeholder="Adresse" [ngClass]="{ 'is-invalid': submitted && f.adresse.errors }">
              <div *ngIf="submitted && f.adresse.errors" class="invalid-feedback">
                <div *ngIf="f.adresse.errors.required">Adresse est obligatoire</div>
              </div>
            </div>
            <div class="form-group">
              <label for="numTel">Numéro Téléphone</label>
              <input type="text" class="form-control" id="numTel" formControlName="numTel" placeholder="Numéro Téléphone" [ngClass]="{ 'is-invalid': submitted && f.numTel.errors }">
              <div *ngIf="submitted && f.numTel.errors" class="invalid-feedback">
                <div *ngIf="f.numTel.errors.required">Numéro Téléphone est obligatoire</div>
              </div>
            </div>
    
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" (click)="save()" class="btn btn-primary">Enregistrer</button>
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Annuler</button>
        </div>
      </div>
    </div>

    
  </div>
 
