<div class="auth-main">
  <div class="auth-wrapper v3">
    
    <div class="auth-form">
      <div class="auth-header">
        <a href="javascript:"><img src="assets/images/logo-dark.svg" alt="logo" /></a>
      </div>
      <div class="card my-5">
        <div class="card-body">
         
          <form >
          <div class="form-group mb-3">
            <label class="form-label" for="email">Email Address</label>
            <input type="email" class="form-control" id="email" placeholder="Email Address" name="email"  [(ngModel)] = "authenticationRequest.email"/>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="password">Password</label>
            <input type="password" class="form-control"  placeholder="Password" name="password" [(ngModel)] = "authenticationRequest.password">
       
          </div>
          <div class="d-flex mt-1 justify-content-between">
         
            <h5 class="text-secondary f-w-400"><a href="javascript:">Forgot Password?</a></h5>
          </div>
          <div class="d-grid mt-4">
            <button type="button" (click)="onSubmit()" class="btn btn-primary">Login</button>
          </div>
         
         </form>
         
        </div>
      </div>
     
    </div>

  </div>
</div>
