 

<div class="auth-main">
  <div class="auth-wrapper v3">
    
    <div class="auth-form">
      <div class="auth-header">
        <a href="javascript:"><img src="assets/images/logo.jpeg" alt="logo" style="width: 150px; height: auto;"/></a>
      </div>
      <div class="card my-5">
        <div class="card-body">
          <form (keydown.enter)="onSubmit()">

            <!-- Error Message -->
            <div *ngIf="errorMessage" class="alert alert-danger">
              {{ errorMessage }}
            </div>

            <div class="form-group mb-3">
              <i class="far fa-user"></i>
              <label class="form-label ml-2" for="email">Email Address</label>
              <input class="form-control" type="text" placeholder="Email" name="email" [(ngModel)]="authenticationRequest.email">
            </div>

            <div class="form-group mb-3">
              <i class="fas fa-lock"></i>
              <label class="form-label ml-2" for="password">Password</label>
              <input class="form-control" type="password" placeholder="Password" name="password" [(ngModel)]="authenticationRequest.password">
            </div>

            <div class="d-grid mt-4">
              <button type="button" (click)="onSubmit()" class="btn btn-primary">Login</button>
            </div>

          </form>
         
        </div>
      </div>
     
    </div>

  </div>
</div>


