<div class="container my-5 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card w-50">
      <form [formGroup]="magasinForm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group mb-3">
                <label class="form-label" for="nom">Nom</label>
                <input type="text" class="form-control" id="nom" formControlName="nom" placeholder="nom"
                  [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
                <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                  <div *ngIf="f.nom.errors.required">nom est obligatoire</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" rows="3" formControlName="description"
                  [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                  <div *ngIf="f.description.errors.required">description est obligatoire</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group mb-3">
                <label class="form-label" for="numTel">Numéro Téléphone</label>
                <input type="text" class="form-control" id="numTel" formControlName="numTel" placeholder="numTel"
                  [ngClass]="{ 'is-invalid': submitted && f.numTel.errors }" />
                <div *ngIf="submitted && f.numTel.errors" class="invalid-feedback">
                  <div *ngIf="f.numTel.errors.required">Numéro Téléphone est obligatoire</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group mb-3">
                <label class="form-label" for="email">Email</label>
                <input type="text" class="form-control" id="email" formControlName="email" placeholder="email"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email est obligatoire</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <button type="button" class="btn btn-primary btn-block" (click)="save()">Ajouter Magasin</button>
            </div>
            <div class="col-md-4">
              <button type="reset" class="btn btn-primary btn-block" (click)="onReset()">Reset</button>
            </div>
            <div class="col-md-4">
              <input routerLink="/listmagasin" type="button" class="btn btn-primary btn-block" data-dismiss="modal" value="Cancel">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  