<!-- [Mobile Media Block end] -->
<ul class="list-unstyled">

  <li class="dropdown pc-h-item" ngbDropdown>
    <a class="pc-head-link dropdown-toggle arrow-none me-0" ngbDropdownToggle>
      <i class="ti ti-bell"></i>
      <span class="badge bg-success pc-h-badge">3</span>
    </a>
    <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
      <div class="dropdown-header d-flex align-items-center justify-content-between">
        <h5 class="m-0">Notification</h5>
        <a href="javascript:" class="pc-head-link bg-transparent"><i class="ti ti-circle-check text-success"></i></a>
      </div>
      <div class="dropdown-divider"></div>
      <ng-scrollbar style="height: calc(100vh - 300px)" visibility="hover">
        <div class="dropdown-header px-0 text-wrap header-notification-scroll">
          <div class="list-group list-group-flush w-100">
           
           <!-- <li *ngFor="let notification of notifications">
              {{ notification.message }} 
            </li>-->
          </div>
        </div>
      </ng-scrollbar>
      <div class="dropdown-divider"></div>
      <div class="text-center py-2">
        <a href="javascript:" class="link-primary">View all</a>
      </div>
    </div>
  </li>
  <li class="dropdown pc-h-item header-user-profile" ngbDropdown>
    <a class="pc-head-link dropdown-toggle arrow-none me-0" ngbDropdownToggle>
      <img src="assets/images/user/avatar-2.jpg" alt="user-image" class="user-avtar" />
      <span>{{nameuser}}</span>
    </a>
    <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
      <div class="dropdown-header">
        <div class="d-flex mb-1">
          <div class="flex-shrink-0">
            <img src="assets/images/user/avatar-2.jpg" alt="user-image" class="user-avtar wid-35" />
          </div>
          <div class="flex-grow-1 ms-3">
            <h6 class="mb-1">{{nameuser}}</h6>
            <span>UI/UX Designer</span>
          </div>
          <a href="javascript:" class="pc-head-link bg-transparent"><i class="ti ti-power text-danger"></i></a>
        </div>
      </div>
      <ul ngbNav #nav="ngbNav" class="nav drp-tabs nav-fill nav-tabs">
        <li ngbNavItem="1">
          <a ngbNavLink ><i class="ti ti-user"></i> Profile</a>
          <ng-template ngbNavContent>
            @for (task of profile; track task) {
              <div (click)=navigateTo(task.routerLink)>
                <a href="javascript:" class="dropdown-item">
                  <i class="{{ task.icon }}"></i>
                  <span>{{ task.title }}</span>
                </a>
              </div>
              
            }
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
      <a    class="dropdown-item" (click)="goToProfil()">
        <i class="ti ti-user"></i>
        Profile
      </a>

      <div [ngbNavOutlet]="nav"></div>
      <a  href="#" (click)="LogOut()" class="dropdown-item">
        <i class="ti ti-power"></i>
        Logout
      </a>
    
    
      
    </div>
  </li>
 
</ul>

<!-- [Mobile Media Block end] -->
