<div  class="row mb-1 mr-0 custom-border">
  <div >
<h4>Details commande {{origin}}s</h4>
  </div>

  <!--  Details article-->
 
  <div class="col-md-5 custom-border-right mb-1 mt-1 ">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-10">{{ cltFrs?.nom }}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-10">{{ cltFrs?.prenom }}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-phone-alt blue-color"></i></div>
        <div class="col-md-10">{{ cltFrs?.numTel }}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-phone-alt blue-color"></i></div>
        <div class="col-md-10">{{ cltFrs?.adresse }}</div>
      </div>
    </div>
  </div>

  <!--  details commande-->
  <div class="col-md-3 custom-border-right mb-1 mt-1 ">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-qrcode blue-color"></i></div>
        <div class="col-md-10">{{ commande.code }}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-calendar-check blue-color"></i></div>
        <div class="col-md-10">{{ commande.dateCommande | date:'yyyy-MM-dd' }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-cart-arrow-down blue-color"></i></div>
        <div class="col-md-15">{{ commande.etatCommande }}</div>
      </div>
    </div>
  </div>
  
  <!--  boutons action-->
  <div class="col-md-3 mb-1 mt-1">
    <div class="row">
      <div class="col-md-6 text-center d-flex justify-content-center align-items-center"
      *ngIf=" dataJson?.roles.id==1 || dataJson?.roles.id==3">
        <button class="btn btn-link" (click)="openModal()" [disabled]="commande.etatCommande === 'LIVREE'">Modifier</button>
      </div>
      <div class="col-md-6 text-center d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-link" (click)="deleteBonEntree(commande.id)">
        
       Supprimer
        </button>
      </div>
    </div>
  </div>
  
<div *ngIf="showModal" class="modal" tabindex="-1" role="dialog" style="display: block; background: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title">Modifier Etat Commande</h5>
        <button type="button" class="close btn" (click)="closeModal()" aria-label="Close">
          <div aria-hidden="true" class="text-white" style="scale: 2;">&times;</div>
        </button>
      </div>
      <div class="modal-body">
        <form >
          <div class="form-group">
            <label for="etatCommande">Etat Commande</label>
            <select [(ngModel)]="newEtatCommande" name="etatCommande" class="form-control">
              <option *ngFor="let etat of etatsCommande" [value]="etat">{{ etat }}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" (click)="modifierClick()" class="btn btn-primary">Enregistrer</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Annuler</button>
      </div>
    </div>
  </div>
</div>