<div class="mt-4" style="min-height: calc(100vh - 88px) ; overflow: auto;" id="nav-ps-mantis" visibility="hover">
  <div class="navbar-content">
    <ul class="nav coded-inner-navbar" (clickOutside)="fireOutClick()" (mouseleave)="navMob()">
      
      <li *ngFor="let listTitle of listTitles" class="{{listTitle.class}} nav-item">
        <a routerLinkActive="active" [routerLink]="[listTitle.path]" class="nav-link">
            <i class="ni {{listTitle.icon}}"></i>
            {{listTitle.title}}
        </a>
    </li>
    </ul>
    
    <footer class="sidebar-footer">
      <p class="m-0">
        V {{version}}
      </p>
    </footer>
  </div>


</div>
